#
# Turn on embedded operations
#
CONFIG_EXPERT=y
CONFIG_EMBEDDED=y

#
# Platform support.
#
CONFIG_AZURE_SPHERE=y
CONFIG_AZURE_SPHERE_ASLR_PMD_ALIGN=y

#
# Enable some options that tune for smaller size.
#
CONFIG_ARM_VIRT_EXT=n
CONFIG_BASE_FULL=n
CONFIG_BASE_SMALL=1
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_CORE_SMALL=y
CONFIG_KMOD=n
CONFIG_MODULES=n
CONFIG_PROC_KCORE=n
CONFIG_THUMB2_KERNEL=y

#
# RCU Subsystem
#
CONFIG_TINY_RCU=y

#
# Limit supported hardware configurations to fixed, 1-CPU systems.
#

CONFIG_BIG_LITTLE=n
CONFIG_SMP=n
CONFIG_HOTPLUG_CPU=n
CONFIG_NR_CPUS=1

#
# Support /init as a script and #!/bin/sh in general
# Needed to execute... anything (like init)
#
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_ELF=y
CONFIG_ELF_CORE=n

#
# Required for basic IPC, synchronization support
#
CONFIG_FUTEX=y
CONFIG_RT_MUTEXES=y
CONFIG_SIGNALFD=y
CONFIG_SYSVIPC=n

#
# Remove device, storage, and file system features.
#
CONFIG_IDE=n
CONFIG_LDM_PARTITION=y
CONFIG_MD=n
CONFIG_PCI=n
CONFIG_SCSI=n
CONFIG_SREUID_AND_SREGID=y
CONFIG_UNIXWARE_DISKLABEL=y
CONFIG_XATTR=y

#
# Needed for hardware breakpoints.
#
CONFIG_PERF_EVENTS=y

#
# Decrease buffers.
#
CONFIG_NR_LDISCS=2
CONFIG_LOG_BUF_SHIFT=14

#
# Remove unneeded syscalls.
#
CONFIG_KEXEC=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SYSFS_SYSCALL=n
CONFIG_SYSCTL_SYSCALL=n

#
# Aggressively remove superfluous non-security options
#
CONFIG_JUMP_LABEL=y
CONFIG_IMA=n
CONFIG_EVM=n
CONFIG_UEVENT_HELPER=n

#
# Remove kernel firmware support
#
CONFIG_FW_LOADER=n
CONFIG_FIRMWARE_IN_KERNEL=n
CONFIG_FIRMWARE_MEMMAP=n

#
# Virtualization support
#
CONFIG_VIRTUALIZATION=n

# Memory optimizations
CONFIG_AUDIT=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NMI_LOG_BUF_SHIFT=12
CONFIG_COREDUMP=n
CONFIG_CLK_QORIQ=n

# allow device tree access
CONFIG_OF_PROC_FDT=y
